* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    justify-content: space-around;
    display: grid;
}

.navbar {
    background-color: white;
}

.nav {
    text-decoration: none;
    color: black;
}

a {
    text-decoration: none;
    color: black;
}

.one {
    padding-left: 50%;
}

img {
    width: 100%;
    height: 100%;
}

h1 {
    color: red;
    margin-top: -480px;
    padding-left: 30%;
}

p {
    margin-top: -445px;
    padding-left: 30%;
}

#m {
    margin-top: -180px;
    margin-left: 28%;

}

i {
    color: white;
    background-color: red;
    border-radius: 90px;
    right: 10%;
}

.nav {
    color: darksalmon;
    font-style: italic;
}

.L {
    height: 2PX;
    color: gray;
}