* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
.nav {
  display: grid;
  grid-template-columns: 50% 10% 10% 10% 10%;
  grid-template-rows: 100px;
  justify-content: center;
  align-items: center;
} 
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 450px);
  gap: 10px;
  height: 1000px;
  padding: 10px;
}

.box {
  border-radius: 10px;
  color: aqua;
}

img { 
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.box1{
  background-color: aqua;
}
.box2{
  background-color: blue;
}
.box3{
  background-color: black;
}
.box3{
  background-color: blueviolet;
}
.box4{
  background-color: brown;
}
.box5{
  background-color: blueviolet;
}
.box6{
  background-color: chocolate;
}
.box6{
  background-color: chartreuse;
}
.box7{
  background-color: darkgoldenrod;
}
.box8{
  background-color: beige;
}
.box9{
  background-color: blueviolet;
}